<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ristana.how_to">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.ristana.how_to.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="guide_db_4.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.ristana.how_to.entity" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service android:name=".services.NewsFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".manager.TempActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activity.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name=".ui.activity.RequestActivity"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name=".ui.activity.ForgotActivity"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name=".ui.activity.ResetActivity"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name=".ui.activity.AccountActivity"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name=".ui.activity.PasswordActivity"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name=".ui.activity.EditActivity"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name=".ui.activity.PolicyActivity"
            android:parentActivityName=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.ContactActivity"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name=".ui.activity.GuideActivity"
            android:parentActivityName=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.FavoritesActivity"
            android:parentActivityName=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:parentActivityName=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:parentActivityName=".ui.activity.MainActivity"></activity>
    </application>

</manifest>